.home-page{
    background: url('./../images/background.png') no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;

    &__content{
        &__header{
            margin-top: 100px;
            &-brand{
                font-family: $title-font;
                font-size: 24px;
                font-weight: 500;
                text-align: left;
            }
            &__nav{
                display: none;
                text-align: right;
                ul{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    li{
                        display: inline-block;
                        margin-right: 10px;
                        font-family: $title-font;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }
        }

        &__hero{
            margin-top: 260px;
            &-subtitle{
                font-size: 12px;
                letter-spacing: 5px;
                padding: 0;
                margin: 0;
            }

            &-title{
                display: inline-block;
                font-size: 130px;
                font-family: $title-font;
                padding: 0;
                margin: 0;
                line-height: 250px;
                position: relative;
                img{
                    position: absolute;
                    top:-60px;
                    right: 115px;
                }
            }
        }
    }
}