$font-stack-1: "Nunito",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;


$salmon: #FF917A;
$white: #fff;
$black: #333;
$purple: #635571;
$light-gray:#E1DEE5;
$dark-gray:#8A8195;

$border-radius: 5px;
$border-radius-bigger: 24px;

$default-font:"Nunito";
$title-font:"Roboto";