$font-stack-1: "Nunito",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;


$white: #fff;
$black: #333;
$dark-gray:#595959;
$red: #D6003E;

$border-radius: 25px;

$default-font:"Nunito";
$title-font:"Roboto";